<!-- Styles -->
<style>
    #chartdiv {
        height: 500px;
        width: 100%;
    }
</style>



<body>
 
    <div id="chartdiv"></div>
    <div>
        <input type="button" id="David CopperField" value="David Copperfield" onclick="javascript:Learn('DavidCopperfield.txt');" />
        <input type="button" id="Nine Princes In Amber" value="Nine Princes In Amber" onclick="javascript:Learn('CorwinBooks.txt');" />
    </div>
</body>

<script type="text/javascript">
    function Learn(filename) {

        var url = "/api/SyntaxInduction/Learn/" + filename;
        var request = new XMLHttpRequest();
        request.open("post", url, false);
        request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        request.send();
    }
</script>